  <div class="body">
    <div class="cardsection">
        <% @teams.each do |t| %>
            <%= render 'teams/team', team: t %>
        <% end %>
    </div>

    <div class="sideBar">

<!-- -->


      <div class="sideBox">
        <div class="sideTitle">Activity</div>
            <%= render 'shared/activity_sidebar' %>
      </div>
    </div>
  </div>