<span id="makeAdmin<%= person.id %>">
    <% if this_is_offering?(this) %>
        <%= link_to  "Make Admin", offering_administrations_create_path(this_type:  k_lower(this), admin_id_added: person.id, this_id: this.id), method: :post, remote: :true %>
    <% elsif this_is_act?(this) %>
        <%= link_to  "Make Admin", act_administrations_create_path(this_type:  k_lower(this), admin_id_added: person.id, this_id: this.id, this: this, person: person), method: :post, remote: :true %>
    <% end %>
</span>