<article class="userCard">
  <header class="userCardHeader">
    <a href="#">
      <%= image_tag "bg.png", class: "userCardImage left" %>
    </a>
    <h5 class="userCardTitle text-left">
      <a href="#"><%= person.name %></a>
    </h5>
  </header>

  <div class="userCardLevel">
    <p>Level: First Boomer</p>
  </div>

  <div class="userCardRecent text-left">
    <p>Recent Activities</p>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</article>