<div>
    <% collectives.each do |collective| %>
        <a href="#" id="<%= collective.title.tr(' ', '_') %>" class="collective_label">
            <span class="label" data-id="<%= collective.id %>"><%= collective.title %></span>
        </a>
    <% end %>
</div>