<hr>
<div class="sideActivity">
  <div></div>
  <a href="#">Morteza Heydari</a>
  <p> is now following Bader Al-bader</p><br>
  <span>20 minutes ago</span>
</div>
<div class="sideActivity">
  <div></div>
  <a href="#">Morteza Heydari</a>
  <p> is now participating in Football Class</p><br>
  <span>1 hour ago</span>
</div>
<div class="sideActivity">
  <div></div>
  <a href="#">Felan Al-Felani</a>
  <p> is now following you</p><br>
  <span>2 hour ago</span>
</div>
<div class="sideActivity">
  <div></div>
  <a href="#">Felan Al-Felani</a>
  <p> is challenging you</p><br>
  <span>3 hour ago</span>
</div>
        <div class="sideActivity">
  <div></div>
  <a href="#">Morteza Heydari</a>
  <p> is now participating in Football Class</p><br>
  <span>1 hour ago</span>
</div>