<%
    @render_for = nil
    @i = 0
 %>
<% recent_activities.each do |activity| %>
<% m = render_activity(activity) %>
    <% unless m.blank?  %>
        <hr>
        <div class="sideActivity">
          <p><%= m %></p><br>
          <span><%= time_ago_in_words(activity.updated_at) %> ago</span>
        </div>
        <% @i += 1 %>
    <% end -%>
    <% break if @i == 10 %>
<% end -%>