    <div class="activity_table">
      <h1>Activity</h1>
      <% i = 0
         while i<6 do %>

          <div class="notiBody">
            <hr>
            <div class="notiImg"></div>
            <a href="#">Morteza Heydari</a> <p>Challanged You for a</p> <a href="#">Football Game</a> <br>
            <span class="small-text">7 min ago</span>
          </div>

      <% i = i + 1
         end %>
  </div>