<% unless @search.facet(:city).rows.empty? %>
<ul class="nav nav-list">
    <li class="divider"></li>
     <li class="nav-header">Cities</li>
    <li class="divider"></li>
<% for row in @search.facet(:city).rows %>

    <li>
        <% if params[:city].blank? %>
            <%= link_to row.value + " " + "(#{row.count})", :city => row.value, search: params[:search], team_participation: params[:team_participation], sport: params[:sport], offering_type: params[:offering_type], gender: params[:gender] %>
        <% else %>
            <%= link_to "#{row.value} (remove)", :city => nil, search: params[:search],  team_participation: params[:team_participation], sport: params[:sport], offering_type: params[:offering_type], gender: params[:gender]  %>
        <% end %>
    </li>
<% end %>
    <li class="divider"></li>
</ul>
<% end %>