  <div class="dashboard">
    <div class="topText">
      <span>Dashboard</span>
      <a href="#" id="editIntrest">Edit Intrest</a>
    </div>


    <div class="intrestCat">
      <h1>Intrested Categories</h1>
      <div class="Categories">
        <div class="left">
          <div class="BallSports"></div>
          <span>Ball Sports</span>
        </div>
        <div class="left">
          <div class="Fitness"></div>
          <span>Fitness</span>
        </div>
        <div class="left">
          <div class="WaterSports"></div>
          <span>Water Sports</span>
        </div>
        <div class="left">
          <div class="Other"></div>
          <span>Other</span>
        </div>
      </div>
      <div class="sportSelect">
        <div>
          <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label><br>
          <span>Soccer</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-2" class="regular-checkbox" /><label for="checkbox-1-2"></label><br>
          <span>Basketball</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-3" class="regular-checkbox" /><label for="checkbox-1-3"></label><br>
          <span>Volleyball</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-4" class="regular-checkbox" /><label for="checkbox-1-4"></label><br>
          <span>Baseball</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-5" class="regular-checkbox" /><label for="checkbox-1-5"></label><br>
          <span>Foosball</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-6" class="regular-checkbox" /><label for="checkbox-1-6"></label><br>
          <span>Tennis</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-7" class="regular-checkbox" /><label for="checkbox-1-7"></label><br>
          <span>Squash</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-8" class="regular-checkbox" /><label for="checkbox-1-8"></label><br>
          <span>Table Tennis</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-9" class="regular-checkbox" /><label for="checkbox-1-9"></label><br>
          <span>Tennis</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-10" class="regular-checkbox" /><label for="checkbox-1-10"></label><br>
          <span>Water Polo</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-11" class="regular-checkbox" /><label for="checkbox-1-11"></label><br>
          <span>Marathon</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-12" class="regular-checkbox" /><label for="checkbox-1-12"></label><br>
          <span>Wrestling</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-13" class="regular-checkbox" /><label for="checkbox-1-13"></label><br>
          <span>Boxing</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-14" class="regular-checkbox" /><label for="checkbox-1-14"></label><br>
          <span>Karate</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-15" class="regular-checkbox" /><label for="checkbox-1-15"></label><br>
          <span>Judo</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-16" class="regular-checkbox" /><label for="checkbox-1-16"></label><br>
          <span>Kung Fu</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-17" class="regular-checkbox" /><label for="checkbox-1-17"></label><br>
          <span>Marathon</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-18" class="regular-checkbox" /><label for="checkbox-1-18"></label><br>
          <span>Wrestling</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-19" class="regular-checkbox" /><label for="checkbox-1-19"></label><br>
          <span>Boxing</span>
        </div>
        <div>
          <input type="checkbox" id="checkbox-1-20" class="regular-checkbox" /><label for="checkbox-1-20"></label><br>
          <span>Karate</span>
        </div>
      </div>
      <div class="intrestFooter">
        <a href="#" class="button blue">Save</a>
      </div>
    </div>
  </div>