<% if notice %>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
</div>
<% elsif alert %>
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <% if alert.class.to_s == "Array" %>
        <h4><%= alert.shift %></h4>
        <ul>
        <% alert.each do |a| %>
            <li><%= a %></li>
        <% end -%>
        </ul>
    <% else %>
        <%= alert %>
    <% end %>
</div>
<% end %>