<div id="join_container">
<% if this.open_join || user_is_participating?(this) || user_is_admin?(this) %>
    <% if participating_actor == "user" && this_is_offering?(this) %>
        <% if user_is_participating?(this) %>
                <%= render "#{k_lower_p(this)}/joined" %>
        <% else %>
                <%= render "#{k_lower_p(this)}/join", this: this %>
        <% end %>
    <% elsif participating_actor == "user" && this_is_act?(this) %>
        <% if user_is_member?(this) %>
                <%= render "#{k_lower_p(this)}/joined" %>
        <% else %>
                <%= render "#{k_lower_p(this)}/join" %>
        <% end %>
    <%# elsif participating_actor == "team" %>
        <%# if team_is_participating?(this, ) %>
                <%#= render "#{k_lower_p(this)}/joined" %>
        <%# else %>
                <%#= render "#{k_lower_p(this)}/join" %>
        <%# end %>
    <% end %>
<% end %>
</div>