<div style="display:none">
<div id="modal">
    <%= link_to "Event", new_event_path %> <br>
    <%= link_to "Game", new_game_path %> <br>
    <%= link_to "Team", new_team_path %>
    <a href="#" class="close">close</a>
</div>
</div>