<div class="sideBox">
    <div class="sideTitle">Intrests</div>
        <hr>
        <div class="sideTag">
        <span>Football</span>
        <span>Basketball</span>
        <span>Volleyball</span>
        <span>Jet Ski</span>
        <span>Karate</span>
        <span>Fitness</span>
    </div>
</div>