<div class="sideBox">
    <div class="sideTitle">Similar Players</div>
        <hr>
        <div class="sideImage">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>