            <ul class="nav nav-list">
                <li class="divider"></li>
                 <li class="nav-header">Sports</li>
                <li class="divider"></li>
        <% for row in @search.facet(:sport).rows %>

          <li>
            <% if params[:sport].blank? %>
                <%= link_to row.value + " " + "(#{row.count})", :sport => row.value, search: params[:search], team_participation: params[:team_participation], city: params[:city], gender: params[:gender] %>
            <% else %>
                <%= link_to "#{row.value} (remove)", :sport => nil, search: params[:search],  team_participation: params[:team_participation], city: params[:city], gender: params[:gender]  %>
            <% end %>
        <% end %>
              </li>
                <li class="divider"></li>
            </ul>