<div class="sideBox">
  <div class="sideTitle">Your Upcoming Events</div>
  <hr>
  <div class="sideEvents">
    <a href="#">Jetski Race & Race</a><br>
    <span>August 23</span><br>
    <span>5:00pm-7:00pm</span>
  </div>
  <hr>
  <div class="sideEvents">
    <a href="#">Jetski Race & Race</a><br>
    <span>August 23</span><br>
    <span>5:00pm-7:00pm</span>
  </div>
  <hr>
  <div class="sideEvents">
    <a href="#">Jetski Race & Race</a><br>
    <span>August 23</span><br>
    <span>5:00pm-7:00pm</span>
  </div>
</div>