  <div class="body">
    <div class="cardsection">
        <% @venues.each do |e| %>
            <%= render 'shared/offering/offering', offering: e, class_name: "venueList" %>
        <% end %>
    </div>

    <div class="sideBar">


      <div class="sideBox">
        <div class="sideTitle">Activity</div>
            <%= render 'shared/activity_sidebar', recent_activities: @recent_activities %>
      </div>
    </div>
  </div>