/*
*= require_self
*= require fancybox
*/
// @import "bootstrap";
// @import "bootstrap-responsive";
@import "compass";
@import "blueprint";
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/images";
@import "compass/layout/sticky-footer";
@import "compass/layout/stretching";
@import "compass/css3/appearance";

$blueprint_grid_columns: 20;
$blueprint_grid_width: 40px;

// variables declaration

$objBg: #f5f5f5;
$TextColor: #666666;
$boxPadding: 10px;
$linkColor: #159fa4;
$white: #ffffff;
$FormBorder: #B8B8B8;

$grey: #E6E6E6;
$timePassedGrey: #B3B3B3;
$lighGray: #f5f5f5;


$NavTextColor: #666666;
$NavTextColorHover: #666666;
$NavHeight: 35px;
$FontFamily: "Helvetica Neue", helvetica;
$navHoverBorder: #d3d3d3;


$buttonColor: #ffffff;
$buttonBg: #159fa4;
$buttonColorHover: #159fa4;
$buttonBgHover: #ffffff;


/* end of variables declaration */



// mixin declaration

@mixin SideText {
  a {
    color: $linkColor;
    font-size: 13px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }

  }
  span {
    color: $TextColor;
    font-size: 11px;
    padding: 0;
  }
}

@mixin TextFields {
    height: 20px;
    @include border-radius(15px);
    @include box-shadow(none);
    border: 1px solid $FormBorder;
    margin: 5px 0;
}

// end of mixin declaration

// start of shared styles

div.teamMembers {
    clear: both;
    height: 95px;
    div.smallImg {
        background: #add8e6;
        float: left;
        margin: 5px;
        height: 32px;
        width: 32px;
        @include border-radius(5px);
    }
}

.inline {
    display: inline;
}


.guestMenu {
    width:300px;
}

a {
  color: $linkColor;
  font-size: 13px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

}
span {
  color: $TextColor;
  font-size: 11px;
  padding: 0;
}

p {
    color: $TextColor;
    font-size: 0.8em;
}

div.small {
    width: 18px;
    height: 18px;
    background: #add8e6;
    float: left;
    margin: 0 5px 0 5px;
    @include border-radius(5px);
}

div#Sign {
    a {
      color: #666666;
    }
}

div.signPage {
    width: 300px;
    @include background-size(50%);
    height: auto !important;

    header {
        height: 135px;
        margin: 0 auto;
        width: 22%;

        .icon {
            background:url("sign-in-modal.png") no-repeat;
            background-size: 100px 80px;
            width: 100px;
            height: 80px;
        }
        h3 {
            display: inline-block;
            word-wrap:break-word;
            margin-top: 40px;
            font-size:2em;
            font-weight: normal;
            color: $TextColor;


        }
    }
    header#editprofile {
        width: 27%;
        .editicon {
            background: url("icons.png");
            background-position: -500px -800px;
            width: 100px;
            height: 100px;
        }
        h3  {
            margin-left: 10px;
        }
    }
    header#forgotHeader {
        width: 41%;
    }
    #new_photo {
        border-top :solid 1px $TextColor;
        border-bottom:solid 1px $TextColor;
    }
    form {
        padding-top:20px;
        position: relative;
        top: 20%;
        width: 50%;
        margin: 0 auto;
        color: $TextColor;
        input.textField {
            @include TextFields;
            background-color: #fff;
            @include border-radius(10px);
        }
        select {
            @include appearance(none);
            background: url("drop-icon.png") no-repeat scroll right center;
            background-size: 20px 20px;
            border-radius: 10px 10px 10px 10px;
            width: 31.5%;
        }
        table {
            margin: 0 auto;
            tr {
                text-align: center;
                td {
                    padding: 5px 5px;

                }
            }
        }
    }
}

.small-text {
  font-size: 10px;
  position: relative;
  top: -2px;
  color: $timePassedGrey;
}

.borderlr {
    border-left: solid 1px $TextColor;
    border-right: solid 1px $TextColor;
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.left {
  float: left;
}

.center {
    margin: 0 auto;
}

.right {
  float: right;
}


.button {
  padding: 5px;
  margin: 10px;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  border:none;
  @include transition-property(all);
  @include transition-duration(0.1s);
  @include transition-timing-function(linear);
  @include border-radius(5px);
}

.follow {

}

.event, .game, .team, .userBottom {
  display:table;
  height:100%;
  background:$objBg;
  width:100%;
}

.blue {
  @extend button;
  background: $buttonBg;
  color: $buttonColor;
  text-decoration:none;
  &:hover {
    background: $grey;
    color: $TextColor;
    text-decoration:none;
  }
  &:active {
    background: $TextColor;
    color: $grey;
  }
}

.grey {
  background: $grey;
  color: $TextColor;
  border: 1px solid $TextColor;
  &:hover {
    background: $TextColor;
    color: $grey;
    border: 1px solid $grey;
  }
}



div.BallSports {
  background: url("icons.png") no-repeat;
  @include background-size(400px 500px);
  background-position: -50px 0px;
  border: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  &:hover {
    background-position: -50px -50px;
  }
  &:active {
    background-position: -50px -100px;
  }
}
div.Fitness {
  background: url("icons.png") no-repeat;
  @include background-size(400px 500px);
  background-position: -100px 0px;
  border: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  &:hover {
    background-position: -100px -50px;
  }
  &:active {
    background-position: -100px -100px;
  }
}
div.WaterSports {
  background: url("icons.png") no-repeat;
  @include background-size(400px 500px);
  background-position: -150px 0px;
  border: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  &:hover {
    background-position: -150px -50px;
  }
  &:active {
    background-position: -150px -100px;
  }
}
div.Other {
  background: url("icons.png") no-repeat;
  @include background-size(400px 500px);
  background-position: -200px 0px;
  border: none;
  width: 50px;
  height: 50px;
  &:hover {
    background-position: -200px -50px;
  }
  &:active {
    background-position: -200px -100px;
  }
}



@mixin divReset {
    margin: 0 auto;
    overflow: visible;
    display: block;
    float: none;
    margin-bottom: 50px;
}



html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $FontFamily;
}


div.page {
  @include container;
  @include divReset;
  margin-bottom: 0px;



  width: 100%;

  div#headerContainer {
    width: 100%;
    @include background($objBg);
    @include box-shadow(#ccc 0px 2px 5px);
    header#main {
      @include column(20);
      @include divReset;
    }
  }


  div.userInfo {
    @include column(20);
    @include divReset;
    div.stats{
      margin: 0 75px 0 75px;
    }
    div.locationPartial {
      margin: 0 20px 0 20px;
    }
  }

  div.secondMenu {
    @include column(20);
    @include background($objBg);
    @include box-shadow(#ccc 0px 2px 5px);
    border-top: 1px solid #d3d3d3;
    display: inline;
    float: left;
    margin: 0 auto;
    width: 100%;
  }

  div.dashboard {
    width: 990px;
    margin:0 auto;
    div.topText {
      width:990px;
      float:left;
      padding-top:10px;
      padding-bottom:10px;
      span {
        font-size:18px;
      }
    }
  }

  div.body {
    @include column(20);
    display: block;
    float: none;
    margin: 0 auto;
    height:100%;

    div.cards, div.activityCards, div.leftContent, div.Description, div.cardsection, div.likeSection, div.FollowingSection, div.FollowerSection {
      @include column(14);
      @include divReset;
      min-height: 500px;
      float: left;
    }
    div.Description {
        margin-top: 20px;
    }
    div.sideBar {
      @include column(6);
      @include divReset;
      float: left;
    }
  }
}


div.likeButton {
  float: left;
  margin: 10px;
  background: url("icons.png") no-repeat;
  @include background-size(320px 400px);
  background-position: -40px -160px;
  border: none;
  width: 40px;
  height: 40px;
  &:hover {
    background-position: -40px -200px;
  }
  &:active {
    background-position: -40px -240px;
  }
}

.UnlikeButton {
  float: left;
  margin: 10px;
  background: url("icons.png") no-repeat;
  @include background-size(320px 400px);
  background-position: -40px -240px;
  border: none;
  width: 40px;
  height: 40px;
}

div.joinButton {
  float: left;
  margin: 10px;
  background: url("icons.png") no-repeat;
  @include background-size(320px 400px);
  background-position: -80px -160px;
  border: none;
  width: 40px;
  height: 40px;
  &:hover {
    background-position: -80px -200px;
  }
  &:active {
    background-position: -80px -240px;
  }
}

div.joinedButton {
  float: left;
  margin: 10px;
  background: url("icons.png") no-repeat;
  @include background-size(320px 400px);
  background-position: -80px -240px;
  border: none;
  width: 40px;
  height: 40px;
}

div.shareButton {
  float: left;
  margin: 10px;
  background: url("icons.png") no-repeat;
  @include background-size(320px 400px);
  background-position: -120px -160px;
  border: none;
  width: 40px;
  height: 40px;
  &:hover {
    background-position: -120px -200px;
  }
  &:active {
    background-position: -120px -240px;
  }
}

li.navActive {
  @include background(linear-gradient(bottom, rgb(230,230,230) 0%, rgb(207,207,207) 73%));
    border-right: 1px solid $navHoverBorder;
    border-left: 1px solid $navHoverBorder;
    a {
      color: $NavTextColorHover;
    }
}

nav#secondary {
  height: $NavHeight;
  @include stretch;
  @include background($objBg);
  position: relative;
  width: 990px;
  margin: 0 auto;

  ul {
    @include horizontal-list-container;

    li{
      @include horizontal-list-item;
      height: $NavHeight;
      padding-left: 15px;
      padding-right: 15px;
      &:last-child {
        padding-right: 15px;
      }
      &:first-child {
        padding-left: 15px;
      }
      a {
        text-decoration: none;
        color: $NavTextColor;
        font-family: $FontFamily;
        text-align: center;
        font-size: 12px;
        line-height: $NavHeight;
      }
      &:hover{
        @include background(linear-gradient(bottom, rgb(230,230,230) 0%, rgb(207,207,207) 73%));
        border-right: 1px solid $navHoverBorder;
        border-left: 1px solid $navHoverBorder;
        a {
          color: $NavTextColorHover;
        }
      }
    }
  }
}




div.stats {
  @include background($objBg);
  @include box-shadow(#ccc 0px 2px 5px);
  padding: 2px 10px 2px 10px;
  float: left;
  color: $TextColor;
  width: 147px;
  table {
    width:100%;
    padding-top: 10px;
  }
  div table tr td {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
  }
  .statsHeader {
    font-size: 20px;
  }
  .statLabel,  .statNumber{
    font-size: 12px;
  }
  .statLabel {
    width: 85%;
    text-align: left;
  }
  .statNumber {
    color: $buttonColorHover;
    width: 15%;
    text-align: left;
  }

}

div.sideBox {
  background: #ffffff;
  border: 1px solid $timePassedGrey;
  float: left;
  width: 280px;
  margin: 20px 10px 20px 10px;
  @include border-radius(15px);
  hr {
    color: $timePassedGrey;
    width: 100%;
    padding: 0;
  }
  .sideTitle {
    text-align: left;
    font-size: 16px;
    line-height: 16px;;
    padding: 10px;
  }
  .sideTag span {
    background: $grey;
    padding: 5px 10px 5px 10px;
    @include border-radius(5px);
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #d3d3d3;
    &:hover {
      background: $TextColor;
      color: $grey;
    }

  }

  div.sideEvents {
    padding-left: 10px;
    @include SideText;
  }

  div.sideImage {
    div {
      width: 32px;
      height: 32px;
      background: #add8e6;
      float: left;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }

  div.sideActivity {
    padding: 5px;
    @include SideText;
    div {
      width: 32px;
      height: 32px;
      background: #add8e6;
      float: left;
      margin-left: 5px;
      margin-bottom: 10px;
      margin-right: 5px;
    }
    span {
      font-size: 11px;
      color: $timePassedGrey;
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 13px;
      color: $TextColor;
      display: inline;
    }
  }

}

div.eventProfileCard {
  @include background($objBg);
  @include box-shadow(#ccc 0px 2px 5px);
  padding: $boxPadding;
  float: left;
  color: $TextColor;
  width: 520px;
  height: 154px;
  @include SideText;
  img {
    position: relative;
    width: 100%;
  }
  h1 {
    font-size: 30px;
    color: $linkColor;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 15px;

  }
  p {
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: $TextColor;
  }
  div.large {
    width: 156px;
    height: 156px;
    background: #add8e6;
    float: left;
    margin: 0 10px 0 0;
    @include border-radius(10px);
  }
  footer {

  }
}

div.activityOrigin {
  @include background($objBg);
  @include box-shadow(#ccc 0px 2px 5px);
  padding: $boxPadding;
  float: left;
  color: $TextColor;
  width: 210px;
  height: 154px;
  div.OriginTitle {
    font-size: 20px;
    margin-bottom: 23px;
  }
  div.UserimgName {
    min-height: 50px;
    p {
        padding: 0;
        font-size: 12px;
    }
    div.img {
        background: #add8e6;
        float: left;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        @include border-radius(10px);
    }
  }

  h5 {
    margin: 0;
    padding: 0;
    display: inline;
    float: left;

    font-size: 16px;
    font-weight: normal;
  }
  a {
    color: $linkColor;
    text-decoration: none;
    width: 100px;

    &:hover {
      text-decoration: underline;
    }
  }
}



div.locationPartial {
  @include background($objBg);
  @include box-shadow(#ccc 0px 2px 5px);
  padding: $boxPadding;
  float: left;
  color: $TextColor;
  width: 147px;
  height: 154px;
  div.locationTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  div.map {
    background: #add8e6;
    width: 123px;
    height: 117px;
    margin: 0 auto;

  }
}



div.UserProfileCard {
  @include background($objBg);
  @include box-shadow(#ccc 0px 2px 5px);
  padding: $boxPadding;
  float: left;
  color: $TextColor;
  width: 410px;
  height: 154px;
  @include SideText;
  div.small {
    width: 18px;
    height: 18px;
    background: #add8e6;
    float: left;
    margin: 0 5px 0 5px;
    @include border-radius(5px);
  }
  img {
    position: relative;
  }
  div.large {
    width: 156px;
    height: 156px;
    background: #add8e6;
    float: left;
    margin: 0 10px 0 0;
    @include border-radius(10px);
  }
  h1 {
    font-size: 30px;
    color: $linkColor;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
  p {
    font-size: 13px;
    margin-top: 2em;
  }
}

article.activityBox {
  width: 200px;
  background: $objBg;
  float: left;
  margin: 20px 10px 20px 10px;
  @include border-radius(5%);
  img.activityImage {
    width: 200px;
    height: 160px;
    @include border-top-left-radius(5%);
    @include border-top-right-radius(5%);
  }
  header {
    h5, p{
      margin-left: 3%;
    }
    a {
      color: $linkColor;
      font-size: 16px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      color: $TextColor;
      font-size: 12px;
    }
  }
  .activityBody {
    border-top: 1px solid #ffffff;
    margin: 5px auto;
    ul {
      li {
        display: inline;
        float: left;
        margin: 0 5% 0 5%;
        div.thumbsUp {
          background: url("icons.png") no-repeat;
          @include background-size(128px 160px);
          background-position: -96px 0px;
          border: none;
          width: 16px;
          height: 16px;
          float: left;
          &:active {
            background-position: -96px -32px;
          }
        }

        .thumbedUp {
          background: url("icons.png") no-repeat;
          @include background-size(128px 160px);
          border: none;
          width: 16px;
          height: 16px;
          float: left;
          background-position: -96px -32px;
        }
        div.featureStar {
          background: url("icons.png") no-repeat;
          @include background-size(128px 160px);
          background-position: -112px -32px;
          border: none;
          width: 16px;
          height: 16px;
          float: left;
        }
      }
    }
  }
}

div.Notification {
  background: transparent;
  border: 1px solid $timePassedGrey;
  float: left;
  width: 652px;
  @include border-radius(10px);
  h1 {
    margin: 0;
    color: $TextColor;
    font-weight: normal;
    text-align: left;
    font-size: 18px;
    line-height: 16px;;
    padding: 10px;
  }
  .notiBody {
    float: none;
    display: block;
    overflow: hidden;
    hr {
      color: $timePassedGrey;
      width: 100%;
    }
    p {
      color: $TextColor;
      font-size: 13px;
      display: inline;
    }
    a {
      color: $linkColor;
      font-size: 13px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    div.notiImg {
      width: 60px;
      height: 60px;
      background: #add8e6;
      float: left;
      margin: 0 10px 0 10px;
      @include border-radius(10px);
    }
    .button {
      margin: 0 5px 0 5px;
    }

  }

}

.teamDesc {
    width:990px;
    .desctext {
        width:650px;
        float:left;
    }
    .sideBox {
        width:300px;
        float:right;
    }
}

div.activity_table {
        border-top: 3px solid $TextColor;

  background: transparent;
  // border: 1px solid $timePassedGrey;
  float: left;
  width: 990px;
  margin:20px 0;
  h1 {
    margin: 0;
    color: $TextColor;
    font-weight: normal;
    text-align: left;
    font-size: 18px;
    line-height: 16px;;
    padding: 10px;
  }
  .notiBody {
    float: none;
    display: block;
    overflow: hidden;
    hr {
      color: $white;
      width: 100%;
    }
    p {
      color: $TextColor;
      font-size: 13px;
      display: inline;
    }
    a {
      color: $linkColor;
      font-size: 13px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    div.notiImg {
      width: 60px;
      height: 60px;
      background: #add8e6;
      float: left;
      margin: 0 10px 0 10px;
      @include border-radius(10px);
    }

  }

}

/*
section.page {
  width: 100%;
  position: absolute;
}
  */

header#main {
  @include background($objBg);
  border-top: 1px solid #d3d3d3;
  position: relative;
  top: 0;
  height: 75px;
  z-index: 1;
  div#headerLeft {
    vertical-align: middle;
    height: 75px;
    margin-top: 12px;
    float: left;
    a img, input {
      vertical-align: middle;
      margin: 0 10px 0 10px;
    }
  }
  div#headerMenu {
    float: left;
    height: 75px;
    vertical-align: middle;
    margin: 40px 20px 40px 20px;
    a {
      color: $TextColor;
      text-decoration: none;
      text-align: right;
      line-height: 20px;
      font-size: 12px;
      // margin-left: 5px;  for menu space
      &:hover {
        text-decoration: underline;
      }
    }
    div#dashboard {
      margin: auto 20px auto 20px;
        width: 84px;

      div.explore {
        background: url("icons.png") no-repeat;
        @include background-size(160px 200px);
        background-position: -40px -160px;
        border: none;
        width: 20px;
        height: 20px;
      }
      img {
        width: 20px;
        height: 20px;
      }
      ul#ExploreDrop {
        padding: 0;
        margin: 10px 0 0 0;
        width: 84px;
        background: $objBg;
        border: $TextColor;

        border-bottom: 1px solid #999999;
        border-left: 1px solid #999999;
        border-right: 1px solid #999999;
        hr {
          border: solid 1px #999999;
        }
         li {
            width: 100%;
           display: table-row;
           padding: 10px;
           div.exploresub {
                padding: 5px 4px;
                text-align: center;
                width: 100%;
                &:hover {
                    background: #999999;
                    color: $white;
                    a {
                        color: $white;
                    }
                }
           }
        }
      }
    }
    div#notiMenu {
      margin: auto 20px auto 20px;

      div {
        background: url("icons.png") no-repeat;
        @include background-size(160px 200px);
        background-position: -60px -160px;
        border: none;
        width: 20px;
        height: 20px;
      }
    }
    div#createNewMenu {
      margin: auto 20px auto 20px;

      div {
        background: url("icons.png") no-repeat;
        @include background-size(160px 200px);
        background-position: -80px -160px;
        border: none;
        width: 20px;
        height: 20px;
      }
    }
    div#userMenu {
      margin: auto 20px auto 20px;

      float: left;
      margin-left: 5px;
      img {
        width: 20px;
        height: 20px;
      }
      ul#userDrop {
        padding: 0;
        margin: 10px 0 0 0;
        background: $objBg;
        border: $TextColor;

        border-bottom: 1px solid #999999;
        border-left: 1px solid #999999;
        border-right: 1px solid #999999;
        hr {
          border: solid 1px #999999;
        }
         li {
           display: table-row;
           div#editProfile {
             padding: 5px;

             div {
               background: url("icons.png") no-repeat;
               @include background-size(160px 200px);
               background-position: -100px -160px;
               border: none;
               width: 20px;
               height: 20px;
             }
           }
           div#manageOffering {
             padding: 5px;

             div {
               background: url("icons.png") no-repeat;
               @include background-size(160px 200px);
               background-position: -20px -160px;
               border: none;
               width: 20px;
               height: 20px;
             }
           }
           a#signOutTop {
             margin-left: 25px;
             padding: 5px;

           }
         }
      }
    }
  }
}



article.userCard {
  width: 200px;
  height: 200px;
  background: $objBg;
  float: left;
  margin: 20px 10px 20px 10px;
  @include border-radius(5%);
  header {
    margin: 15px 0 0 15px;
    height: 60px;
    h5, p{
      margin-left: 3%;
    }
    h5 {
      font-size: 16px;
      font-weight: normal;
      padding: 0;
      margin: 0;
    }
    a {
      color: $linkColor;
      font-size: 16px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    img.userCardImage {
      width: 50px;
      height: 50px;
      margin-right: 5px;
      @include border-radius(10px);
    }
  }
  .userCardLevel {
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    padding: 15px;
    p {
      color: $TextColor;
      padding: 0;
      margin: 0;
      font-size: 12px;
    }
  }

  div.userCardRecent {
    padding: 15px;
    p {
      color: $TextColor;
      padding: 0;
      margin: 0;
      font-size: 10px;
    }
    div {
      background: #add8e6;
      float: left;
      margin: 5px;
      height: 32px;
      width: 32px;
      @include border-radius(5px);
    }
  }
}



div.intrestCat {
  width: 100%;
  float: left;
  h1 {
    color: $TextColor;
    font-weight: normal;
    font-size: 18px;
    margin-left: 15px;
  }

  div.Categories {
    width: 990px;
    float: left;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid $grey;
    div {
      text-align: center;
      margin: 0 30px 0px 0px;
      div {
        margin: 0px 15px 10px 15px;
      }
      span {
        color: $TextColor;
        font-size: 12px;
      }
    }
  }
  div.intrestFooter {
    float: left;
    border-top: 1px solid $grey;
    width: 990px;
    padding: 20px;
  }
  div.sportSelect {
    text-align: center;
    width: 800px;

    div {
      width: 80px;
      float: left;
      margin: 15px 0 15px 0;
      span {
        color: $TextColor;
        font-size: 12px;
      }
    }
    label {
      display: none;
    }
    .regular-checkbox {
      display: none;
    }
    .regular-checkbox + label {
      background-color: #ffffff;
      border: 1px solid $linkColor;
      padding: 9px;
      @include border-radius(50%);
      display: inline-block;
      position: relative;
    }
    .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
      content: '';
      background-color: $linkColor;
    }
    .regular-checkbox:checked + label {
      background-color: $linkColor;
      border: 1px solid $linkColor;
    }
    .regular-checkbox:checked + label:after {
      content: '';
      background-color: $linkColor;
    }

  }
}


// forms

form {
  input.TextField {
    width: 45%;
    @include TextFields;
    &:focus {
      color: #ffffff;
      width: 50%;
    }
  }

  select {
    width: 50%;
    @include TextFields;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("drop-icon.png") no-repeat right center;
    background-size: 30px 30px;
    overflow:hidden;
  }
  .submitBtn {
    border: none;
  }

  textarea {
    width: 45%;
    @include TextFields;
    height: 200px;
  }
}

////////// Offering create/edit/management  //////////

.offering {
      @include column(20);
      @include divReset;
      min-height: 500px;
      float: left;
      h1, h2 {
        color: $TextColor;
        font-weight: bold;
      }
      table {
        td {
            vertical-align: top;
        }
      }
      hr {
        border:none;
        border-top: 1px solid $TextColor;
      }
      table#categoryChoice {
        td {
            text-align: center;
            color: $TextColor;
            padding: 0 10px;
            img {
                width: 75px;
                height: 75px;
            }
        }
      }
      form {
        label {
            font-size: 0.8em;
            line-height: 30px;
            color: $TextColor;
        }
        input {
            @include TextFields;
            height: 20px;
            padding: 5px;
            width: 25%;
            &:focus {
                border: 1px solid $TextColor;
            }
        }
        select {
            height: 30px;
            width: 25%;
            padding: 5px;
            &:focus {
                border: 1px solid $TextColor;
            }

        }
        textarea {
            width: 25%;
            padding: 5px;
            &:focus {
                border: 1px solid $TextColor;
            }
        }
      }
    #new_photo {
        border-top :solid 1px $TextColor;
        border-bottom:solid 1px $TextColor;
        td {
            text-align: left;
            input{
                height:30px !important;
                width:100px !important;
            }
        }
    }
}


.offering_management {
      @include column(20);
      @include divReset;
      min-height: 500px;
      float: left;
      h1, h2 {
        color: $TextColor;
        font-weight: bold;
      }
      table {
        th {
            background: $grey;
            color: $TextColor;
            font-size: 1em;
            text-align: left;
            padding: 10px;
        }
        td {
            vertical-align: bottom;
            padding: 10px;
            border-bottom: solid 1px $grey;
            color: $TextColor;
            font-size: 0.8em;
            a {
                color: $linkColor;
                font-size: 1em;
                margin-left: 15px;

            }
            a.button {
                color: $white;
                &:hover {
                    color: $TextColor;
                }
                &:active {
                    color: $white;
                }
            }

            img {
                vertical-align: bottom;
                @include border-radius(5px);
            }
        }
        td.offeringtype {
            vertical-align: bottom;
            padding: 10px;
            font-size: 1em;
            a {
                color: $linkColor;
                font-size: 1em;
                margin-left: 15px;
            }
            img {
                vertical-align: bottom;
            }
        }
      }
  }

// Gallery

.gallery {
    width: 200px;
    height: 200px;
    background: transparent;
    float: left;
    margin: 20px 10px 20px 10px;
    @include border-radius(5%);
    @include box-shadow(0 10px 0 0 $grey);
    &:active {
        @include box-shadow(none);
        position: relative;
        top:10px;
    }
    form {
      border-top: none;
    }
    .img {
        @include border-radius(5%);
    }
    #new_photo {
        width: 180px;
        height: 180px;
        padding: 10px 10px;
        background: $buttonBg;
        @include border-radius(5%);
        @include box-shadow(0 10px 0 0 $grey);
        label {
            color: $white;
        }
        input {
            @include TextFields;
            height: 20px;
            padding: 5px;
            width: 90%;
            &:focus {
                border: 1px solid $TextColor;
            }
        }
        input[type="submit"] {
            height:auto;
            width:auto;
        }
    }
}

.SI-FILES-STYLIZED label.cabinet
{
    width: 79px;
    height: 22px;
    background: url('upload.png') 0 0 no-repeat;

    display: block;
    overflow: hidden;
    cursor: pointer;
    input.file
    {
        position: relative;
        height: 100%;
        width: auto;
        opacity: 0;
        -moz-opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    }
}
div.upload {
    &:active {
        @include box-shadow(0 10px 0 0 $grey);
        position: relative;
        top:0;
    }
    p {
        color: $white;
    }
}




// modal

.modal {
    background: #ffffff url("modal-top-left.png") top left no-repeat;
    @include background-size(50%);
    height: 325px;
    @include box-shadow(#666666 0px 5px 15px inset);
    .header {
        position: relative;
        width: 47%;
        left: 53%;
        top:20%;
       .icon {
            background:url("sign-in-modal.png") no-repeat;
            background-size: 70px 56px;
            width: 70px;
            height: 56px;
        }

       .Createicon {
            background: url("icons.png");
            @include background-size(400px 500px);
            background-position: -200px -400px;
            width: 50px;
            height: 50px;
        }

        h3 {
            display: inline-block;
            word-wrap:break-word;
            margin-top: 35px;
        }
    }

    form {
        position: relative;
        top: 20%;
        width: 50%;
        margin: 0 auto;
        input.textField {
            @include TextFields;
            background-color: #fff;
            @include border-radius(10px);
        }
    }
}

div#Create {
    width: 600px;
    height: 350px;
    .header {
        height: 0;
        left: 300px;
        top: 73px;
        h3 {
            margin-top: 13px;
        }
    }
    .linkContainer {
        width: 100%;
        margin: 140px auto;
        div {
            width: 25%;
            padding: 2%;
            a {
                color: $TextColor;
                font-size: 1em;
                p {
                    text-align: center;
                }
            }
        }
        div#tour {
            p {
                width: 149%;
            }
        }
        div.classIcon {
                background: url("class-icon.png") no-repeat;
                width: 74px;
                height: 100px;
        }
        div.eventIcon {
                background: url("event-icon.png") no-repeat;
                width: 85px;
                height: 100px;
        }
        div.tourIcon {
                background: url("tournament-icon.png") no-repeat;
                width: 218px;
                height: 100px;
        }
    }
}

div#SignUp {
    height:400px;
    .header {
        top: 17%;
    }
    form {
        width:70%;
    }
}

.fancybox-skin {
    padding: 0;
}


// #modal-container {
//   display: none;
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: rgba(0,0,0,0.4);
//   z-index: 10;
// }

// #modal {
//   display: none;
//   position: absolute;
//   z-index: 10;
//   width: 600px;
//   left: 50%;
//   margin-left: (-600px - 40px) / 2;
//   padding: 20px;
//   background: #fff;
//   border: 5px solid #eee;

//   & > .close {
//     position: absolute;
//     right: 5px;
//     top: 5px;
//     color: #666;
//     &:hover, &:active {
//       color: #000;
//     }
//   }
// }

// end of shared styles


/* End of declarations */





@import "registrations";

@import "pages";