h1  {
  color: $linkColor;
  font-weight: normal;
}


div.gravatarContainer {
  margin: 10px 0;
  .gravatar {
    margin: 0 0 0 10px;
  }
  a {
    margin: 0 0 0 10px;
    position: relative;
    top: -7.5px;
  }

}
